body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bookcard {
  box-sizing: border-box;
  /*height: 500px;*/
  width: 18rem;
  position: relative;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,.125);
  padding: 0 10px 0;
  margin: 0.5rem!important;
}

.grid {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.slideshow {
  width: 100%;
  height: 33%;
  margin: auto;
}

.login-page {
  width: 90%;
  justify-content: center;
  margin: 0 auto;
}

.table {
  width: 90%;
}

.link {
  color: #212529;
}

.link:hover {
  color: #212529;
  text-decoration: none;
}

.top:active {
  color: #212529!important;
}

.link:active {
  color: #ffffff;
}

.button-link:hover {
  text-decoration: none;
  color: #ffffff;
}

.button-link:active {
  text-decoration: none;
  color: #ffffff;
}

.top-margin {
  margin-top: 70px;
}